<div class="quiz-container">
<h1><%= @question.quiz.name %></h1>
<p><%=  @question.content%></p>
<!-- <div class = "justify-content-center row"> -->
    <div class = "questions col-6 pb-5">
       <%= simple_form_for [@question, @answer] do |q| %>
       <%= simple_fields_for :other do |o| %> 
       <%= o.input :a, label: "A", input_html: { required: true }%>
       <%= o.input :b, label: "B", input_html: { required: true }%>
       <%= o.input :c, label: "C", input_html: { required: true }%>
       <%= o.input :d, label: "D", input_html: { required: true }%>
       <% end %>
       <%= q.input :letter, collection: Answer::ANSWERS %>
    </div>
    <div class="pb-5">
       <%= q.submit "Save the question!", class:'butt-quiz'%>
       <% end %>
    </div>
    <%#= link_to "Go Back", :back %>
 <!--  </div> -->
</div>
