  <div class="mixtape-navigation-container">
    <%= link_to "Back to giftapes", my_giftapes_path, class:"butt back-to-giftapes" %>

        <%= link_to 'delete this quiz? :(',
                quiz_path(@quiz),
                method: :delete,
                data: { confirm: "Are you really really sure?!" },
                class:"butt delete-function", id:"delete-btn" %>
  </div>

<div class="quiz" style="width: 100%; margin: 0 auto; height: 1000px;">

  <div class = "container mt-5 justify-content-center">

    <div class="quiz-name-icons">
      <h1><%= @quiz.name %></h1>
      <% if user_signed_in? %>
      </div>
        <div class="question-card-container">
        <% @quiz.questions.each do |question| %>
        <div class="question-card" style="transform: rotate(<%=rand(-1.2..1.2)%>deg)">
          <p><strong><%= question.content %></strong></p>
          <ul>
          <% question.answers.each do |answer| %>
              <li>
              <!-- <input type="radio" name=`<%= question.content %>`><%= answer.letter %> ) <%= answer.content %> -->
                <% if answer.is_correct == true %>
                <%= answer.letter.capitalize %> ) <%= answer.content %> <i class="fas fa-check" style="color: green"></i>
                <% else %>
                <%= answer.letter.capitalize %> ) <%= answer.content %> <i class="fas fa-times" style="color: red"></i>
                <% end %>
              </li>
            <% end %>
            <div class="delete-question-icon">
            <%= link_to quiz_question_path(@quiz, question), method: :delete do %>
            <i class="far fa-trash-alt fa-lg"></i>
          <% end %>
        </div>
          </ul>
        </div>
        <% end%>
        </div>
        <div class = "justify-content-center row question-form">
          <div class = "col-6">
            <%= simple_form_for [@quiz, @question] do |q| %>
              <%= q.input :content, label: "Type your Question"%>

              <%= q.submit "Now let's add some answers"%>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= render "quiz_sessions/form", quiz: @quiz, quiz_session: @quiz_session%>

        <!-- link to 'see my results page' (answers show page) -->
      <% end %>
    </div>
  </div>
