<h2>My Giftapes Dashboard</h2>

<h3>Create New Giftape</h3>
<div>
<%# Made this for demo, we can refactor it later! %>
  <%= link_to "+ MIXTAPE", new_mixtape_path %>
  <%= link_to "+ QUIZ", new_quiz_path %>
  <%= link_to "+ LIST", new_curated_list_path %>
  <%= link_to "+ COLLAGE", new_collage_path %>
</div>

<ul>
  <% @giftapes.each do |giftape| %>
    <%= link_to giftape.giftable.name, polymorphic_path(giftape.giftable) %>
    <p><%= giftape.giftable.class %></p>
    <p>Last Editied: <%= giftape.giftable.updated_at.inspect %></p>
    <%= link_to 'delete? :(',
                polymorphic_path(giftape.giftable),
                method: :delete,
                data: { confirm: "Are you really really sure?!" },
                class:"btn btn-info", id:"delete-btn" %>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#custom_url_modal_<%= giftape.id %>">Send with custom url!</button>

    <% unless giftape.custom_url.blank? %>
      <p>
        Hey you got a custom URL:
        <%= link_to giftape_path(giftape.custom_url),
            giftape_path(giftape.custom_url) %>
      </p>
    <% end %>

    <div class="modal" tabindex="-1" role="dialog" id="custom_url_modal_<%= giftape.id %>">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_for :giftape, :method => :patch, :url => giftape_path(giftape.id) do |f| %>
          <div class="modal-body">
            Custom URL bro?
            <%= f.text_field :custom_url %>
          </div>
          <div class="modal-footer">
            <%= f.button "Save changes", :class => "btn btn-primary"  %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</ul>
