<div class="giftape-create-links">
  <%= link_to "+ MIXTAPE", new_mixtape_path, class:"butt mixtape butt-block" %>
  <%= link_to "+ QUIZ", new_quiz_path, class:"butt quiz butt-block" %>
  <%= link_to "+ LIST", new_curated_list_path, class:"butt curatedlist butt-block" %>
  <%= link_to "+ COLLAGE", new_collage_path, class:"butt collage butt-block" %>
</div>
<h2>My Giftapes</h2>
<div class="dash-card-container">
  <% @giftapes.each do |giftape| %>
    <div class="dash-card <%= giftape.giftable_type.downcase%>">
      <div class="dash-card-img">
        <img src="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/<%=giftape.giftable_type.downcase%>.png">
        <%= link_to polymorphic_path(giftape.giftable),
            method: :delete,
            data: { confirm: "Are you really really sure?!" },
            id:"delete-btn" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
      <h4><%=link_to giftape.giftable.name, polymorphic_path(giftape.giftable) %></h4>
      <button type="button" class="butt-custom" data-toggle="modal" data-target="#custom_url_modal_<%= giftape.id %>">Send with custom url!</button>
      <% unless giftape.custom_url.blank? %>
        <p>
          Hey you got a custom URL:
          <%= link_to giftape_path(giftape.custom_url),
          giftape_path(giftape.custom_url) %>
        </p>
      <% end %>
      <!-- MODAL -->
      <div class="modal" tabindex="-1" role="dialog" id="custom_url_modal_<%= giftape.id %>">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_for :giftape, :method => :patch, :url => giftape_path(giftape.id) do |f| %>
              <div class="modal-body">
                Custom URL bro?
                <%= f.text_field :custom_url %>
              </div>
              <div class="modal-footer">
                <%= f.button "Save changes", :class => "btn btn-primary"  %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- MODAL -->
    </div>
  <% end %>
</div>
