<h2 style="margin-bottom: 60px; font-size: 80px; text-shadow: 4px 4px #000000b0;">My Giftapes</h2>

<div class="dash-card-container">
  <% @giftapes.each do |giftape| %>
    <div class="dash-card <%= giftape.giftable_type.downcase%>" style="transform: rotate(<%=rand(-1.2..1.2)%>deg)">
      <!-- INDEX CARD IMAGE & DELETE BTN-->
      <div class="dash-card-img">
        <img src="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/<%=giftape.giftable_type.downcase%>.png">
        <%= link_to polymorphic_path(giftape.giftable),
            method: :delete,
            data: { confirm: "Are you really really sure?!" },
            id:"delete-btn" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>

      <!-- NAME, CUSTOM URL & CREATE URL BUTTON -->
      <h4><%=link_to giftape.giftable.name, polymorphic_path(giftape.giftable) %></h4>
      <% unless giftape.custom_url.blank? %>
          <p style="font-size: 14px">
            <%= link_to giftape_path(giftape.custom_url),
            giftape_path(giftape.custom_url) %>
          </p>
      <% end %>
      <% if giftape.custom_url.blank? %>
      <button type="button" class="butt-custom" style="font-size: 14px" data-toggle="modal" data-target="#custom_url_modal_<%= giftape.id %>">Choose a custom url!</button>
      <% else %>
      <button type="button" class="butt-custom" style="font-size: 14px" data-toggle="modal" data-target="#custom_url_modal_<%= giftape.id %>">Change custom url?</button>
      <% end %>
    </div>

    <!-- MODAL -->
    <div class="modal" tabindex="-1" role="dialog" id="custom_url_modal_<%= giftape.id %>">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_for :giftape, :method => :patch, :url => giftape_path(giftape.id) do |f| %>
            <div class="modal-body">
              Custom URL bro?
              <%= f.text_field :custom_url %>
            </div>
            <div class="modal-footer">
              <%= f.button "Save changes", :class => "btn btn-primary"  %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- MODAL -->
  <% end %>
</div>
