<%= simple_form_for @collage do |c| %>
  <%#= c.input :name %>

  <h3>Cards</h3>
  <div id="collage_items">
    <%= c.simple_fields_for :collage_items do |i| %>
      <%= render 'collage_item_fields', f: i %>
    <% end %>

    <div class='links'>
      <%= link_to_add_association 'add card', c, :collage_items %>
    </div>
  </div>
  <%= c.submit 'Save' %>
<% end %>