<p>LINK BACK TO INDEX PAGE</p>
<h2>Collages#Edit</h2>

<%= link_to "Delete Collage",
    collage_path(@collage),
    method: :delete %>

<% @collage.collage_items.each do |item| %>
  <%= item.prompt %>
  <%= cl_image_tag(item.photo.key, width: 400, height: 450, crop:'fill' ) %>
  <%= link_to "Delete",
  collage_collage_item_path(@collage, item),
  method: :delete %>

<% end %>

<%= simple_form_for @collage do |f| %>
  <%= f.simple_fields_for :collage_items do |c| %>
    <%= c.input :prompt%>
    <%= c.input :photo, as: :file %>
  <% end %>
  <%= f.submit "save" %>
<% end %>

<button onclick=""> render 'new_item' </button>