<h2>Edit Collage</h2>

<%= simple_form_for @collage do |f| %>
  <%= f.simple_fields_for :collage_items do |c| %>
    <%= c.input :prompt%>
    <%= c.input :photo%>
  <% end %>
  <%= f.submit "save" %>
<% end %>

<%= render 'new_item' %>