<p>LINK BACK TO INDEX PAGE</p>
<h2>Collages#Edit</h2>

<p><%= link_to "Delete Collage",
    collage_path(@collage),
    method: :delete %></p>

<ul>
  <% @collage.collage_items.each do |item| %>
    <li id="collage-item-<%= item.id %>">
    <%= item.prompt %>
    <%= link_to "Delete",
        collage_collage_item_path(@collage, item),
        method: :delete %>
    <%= cl_image_tag(item.photo.key, width: 400, height: 450, crop:'fill' ) %>
  <% end %></li>
</ul>

<%= simple_form_for @collage, remote: true do |c| %>
  <%#= c.input :name %>

  <h3> + card </h3>
  <div id="collage_items">
    <div class='links'>
      <%= link_to_add_association 'add card', c, :collage_items %>
    </div>
  </div>
  <%= c.submit 'Save' %>
<% end %>

<form id="giphy-search-form">
  <input type="text" name="giphy-search" id="giphy-search-query" placeholder="Search for GIFs">
  <input type="submit" value="Get GIFs">
</form>

<div id="giphy-results">
</div>
<%#= simple_form_for @collage do |f| %>
  <%#= f.simple_fields_for :collage_items do |c| %>
    <%#= c.input :prompt%>
    <%#= c.input :photo, as: :file %>
  <%# end %>
  <%#= f.submit "save" %>
<%# end %>