<div class="mixtape-navigation-container">
  <div>
    <%= link_to "Back to giftapes", my_giftapes_path, class: "butt back-to-giftapes" %>
    <%= link_to "Delete collage",
      collage_path(@collage),
      method: :delete,
      class: "butt delete-function",
      data: { confirm: "Are you really really sure?!" }
    %>
    <!-- Button to trigger modal -->
    <button type="button" id="collage-modal-btn" class="butt collage" data-toggle="modal" data-target="#collage-card-modal">+ Image</button>
  </div>
</div>


<!-- Form to update Collage name -->
<%= simple_form_for @collage do |f| %>
  <i class="fas fa-pencil-alt fa-md"></i>
  <%= f.input :name %>
  <%= f.submit "Save" %>
<% end %>

<% @collage.errors.full_messages.each do |msg| %>
  <%= msg %>
<% end %>

<!-- Display current images -->
<div class="collage-card-container">
  <% @collage.collage_items.each do |item| %>
    <div class="collage-card edit-collage-card" id="collage-item-<%= item.id %>">
      <%= link_to collage_collage_item_path(@collage, item), method: :delete do %>
        <i class="far fa-trash-alt fa-lg"></i>
      <% end %>
      <%= cl_image_tag(item.photo.key) %>
      <h4><%= item.prompt %></h4>
    </div>
  <% end %>
</div>

<!-- Modal Popup // Add new collage item-->
<div class="modal fade" id="collage-card-modal" tabindex="-1" role="dialog" aria-labelledby="collage-card-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="collage-card-modal-title">Brand spanking new image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Card div for image preview -->
        <div class="modal-left">
          <div class="collage-card">
            <div id="collage-card-img">
            <h4></h4>
            </div>
          </div>

          <!-- FORM FOR ADDING NEW COLLAGE ITEM -->
          <%= simple_form_for [@collage, @collage_item] do |c| %>
            <div class="collage-card-prompt">
              <button class="butt-col-carousel" id="collage-prompt-random"><i class="fas fa-sync"></i></button>
              <%= c.input :prompt, id: 'collage-card-prompt', placeholder: 'Write something embarassing' %>
            </div>
            <%= c.input :photo %>
            <%= c.submit "Save this bad boy" %>
          <% end %>
        </div>
        <%# SEARCH FORM FOR GIPHY  %>
        <form id="giphy-form">
          <input type="text" id="giphy-search" name="giphy-search" placeholder="Search GIPHY">
          <input type="submit" id="giphy-submit" value="Search">
          <button id="giphy-trending">Trending</button>
          <button id="giphy-random">Random GIF</button>
        </form>

        <%# GIPHY SERACH RESULTS %>
        <div id="giphy-results"></div>

      </div>
    </div>
  </div>
</div>
<!-- Modal Popup -->

<!-- SAVE GIF AS URL -->
<!--
- Accepts image url
- Enables photo OR image URL
- In collages#create: if URL, attach with activestorate/cloudinary syntax
                          else if photo, upload as photo
- For giphy serach, take gif url and insert into 'image_url' value in form
-->