<%= link_to "Back to Dashboard", my_giftapes_path, class: "butt butt-ltpurple" %>
<%= link_to "Delete Collage",
    collage_path(@collage),
    method: :delete,
    class: "butt butt-dkgreen",
    data: { confirm: "Are you really really sure?!" } %>
<%= simple_form_for @collage do |f| %>
  <h2><%= f.input :name, label:false %></h2><i class="fas fa-pencil-alt fa-md"></i>
<% end %>
<div class="collage-card-container">
  <% @collage.collage_items.each do |item| %>
    <div class="collage-card" id="collage-item-<%= item.id %>">
      <%= link_to collage_collage_item_path(@collage, item), method: :delete do %>
        <i class="far fa-trash-alt fa-lg"></i>
      <% end %>
      <%= cl_image_tag(item.photo.key, width: 400, height: 450, crop:'fill' ) %>
      <h4><%= item.prompt %></h4>
    </div>
  <% end %>
</div>

<%= simple_form_for @collage, remote: true do |c| %>
  <div class="collage_items">
    <div class='links'>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#collage-card-modal">
        <%= link_to_add_association 'add card', c, :collage_items %>
      </button>
    </div>
  </div>
  <%= c.submit 'Save' %>
<% end %>

