<%= link_to "Back to Dashboard", my_giftapes_path %>
<h2>Collages#Edit</h2>

<p><%= link_to "Delete Collage",
    collage_path(@collage),
    method: :delete,
    data: { confirm: "Are you really really sure?!" } %></p>
<%# DISPLAYING EACH COLLAGE CARD %>
<ul>
  <% @collage.collage_items.each do |item| %>
    <li id="collage-item-<%= item.id %>">
    <%= item.prompt %>
    <%= link_to "Delete",
        collage_collage_item_path(@collage, item),
        method: :delete %>
    <%= cl_image_tag(item.photo.key, width: 400, height: 450, crop:'fill' ) %>
  <% end %></li>
</ul>

<%# EXTRA FORM TO ADD MORE CARDS %>
<%= simple_form_for @collage, remote: true do |c| %>
  <div id="collage_items">
    <div class='links'>
      <h3> + card </h3>
      <%= link_to_add_association 'add card', c, :collage_items %>
    </div>
  </div>
  <%= c.submit 'Save' %>
<% end %>