<%= link_to "Back to Dashboard", my_giftapes_path, class:"butt butt-ltpurple" %>
<% if @collage.giftape.user == current_user %>
  <%= link_to "Edit Page", edit_collage_path(@collage), { class: "butt butt-dkgreen" }%>
<% end %>

<h2> <%= @collage.name %> </h2>

<!-- COLLAGE CAROUSELL -->
<div id="collage-carousel" class="carousel carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <a class="btn btn-primary" href="#demo" data-slide="prev">Prev</a>
  <div class="carousel-inner">
    <div class="collage-card-container">
      <% @collage.collage_items.each do |item| %>
        <% if @collage.collage_items.first == item %>
          <div class="collage-card stacked carousel-item active">
        <% else %>
          <div class="collage-card stacked carousel-item">
        <% end %>
          <h4><%= item.prompt %></h4>
          <%= cl_image_tag(item.photo.key, class: "d-block w-100") %>
        </div>
      <% end %>
    </div>
  </div>
  <a class="btn btn-primary" href="#demo" data-slide="next">Next</a>
</div>
<!-- COLLAGE CAROUSELL -->