<h1><%= @curated_list.name %></h1>



<% @curated_list.curated_list_items.each do |cli| %>
  <ul>
    <li> <a href="<%= cli.url %>" target="_blank"> <%= cli.prompt %>  </a></li>
  </ul>
<% end %>

<%= link_to "delete this list? :(",
            new_curated_list_path,
            method: :delete,
            data: { confirm: "Are you really really sure?!" } %>

 <h3>~Let's add some content!!~~</h3>

 <%= simple_form_for [@curated_list, @curated_list_item], remote: true do |f| %>
   <%= f.input :prompt, label: "Write something about the link..", placeholder: "..in here!" %>
   <%= f.input :url, label: "The URL...", placeholder: "..goes here :)" %>
<!-- throw an error message if the user does not  put in the whole link/ or put this within the list loop -->
   <%= f.submit "Let's add another!!" %>
 <% end %>



 <!-- if the URL does not have "https://www" at the beginning,
      insert that string at the start,
      otherwise/else,
      keep it the same-->

<!-- if a URL is not added,
      display an error message -->
