<%= simple_form_for @mixtape do |f| %>
  <%= f.input :name %>
  <%= f.input :theme_type %>

  <div class='tracks'>
    <%= f.simple_fields_for :tracks do |track| %>
      <%= render 'track_fields', f: track %>
    <% end %>

    <% @mixtape.errors.each do |attr, msg|  %>
     <%= msg %>
    <% end %>

    <div class="links">
      <%= link_to_add_association "Add Track", f, :tracks, class:"btn btn-info btn-txt" %>
    </div>

  </div>
  <%= f.submit "Rerecord it!!!"%>
<% end %>
