<%= simple_form_for @mixtape do |f| %>
  <%= f.input :name, label: "What's this mixtape called?", placeholder: "Give me a name!" %>

  <div class='tracks'>
    <%= f.simple_fields_for :tracks, html: {class: 'form-inline'} do |track| %>
      <%= render 'track_fields', f: track %>
    <% end %>

  <% @mixtape.errors.each do |attr, msg|  %>
   <%= msg %>
  <% end %>

    <div class="links">
      <%= link_to_add_association "Add another track", f, :tracks, class:"btn btn-info btn-txt" %>
    </div>

  </div>
  <%= f.submit "Record it!!!", class: "cassette-control-button" do %>
    <i class="fa fa-paper-plane-o" aria-hidden="true">
  <% end %>
<% end %>
