<div class="mixtape-navigation-container">
    <%= link_to "Edit mixtape", edit_mixtape_path, class:"butt edit-function" %>

    <%= link_to "Back to giftapes", my_giftapes_path, class:"butt back-to-giftapes" %>

    <%= link_to 'delete this mixtape? :(',
                mixtape_path(@mixtape),
                method: :delete,
                data: { confirm: "Are you really really sure?!" },
                class:"butt delete-function", id:"delete-btn" %>
</div>

<div class="cassette">
  <div class="innerbox">

    <div class="label">
      <%= @mixtape.name %>
    </div>

    <div class="spin1-shadow">
      <div class="reels spin1">
      </div>
    </div>

    <div class="spin2-shadow">
      <div class="reels spin2">
      </div>
    </div>

  </div>
  <div class="lower">
    <div class="dots">
    </div>
    <div class="dots2">
    </div>
  </div>
</div>

<div class="cassette-controls-container">
  <div class="js-mixtape-youtube-player" data-playlist-videos= <%= @tracks_json %>>
    <div class="js-video-controls">
      <button class="js-play-pause cassette-control-button" type="button">
        <i class="fas fa-play"></i>
      </button>
      <button class="js-pause cassette-control-button" type="button">
        <i class="fas fa-pause"></i>
      </button>

      <button class="js-rewind cassette-control-button" type="button">
        <i class="fas fa-backward"></i>
      </button>

      <button class="js-fast-forward cassette-control-button" type="button">
        <i class="fas fa-forward"></i>
      </button>
    </div>
  
    <div id="player"></div>
  </div>
</div>

<!-- <script src="src/index.js"></script>
 -->
