<h1>I am the show page for a mixtape</h1>

<p> The name of this mixtape is <%= @mixtape.name %></p>
<p>The theme of this mixtape is <%= @mixtape.theme_type %></p>
<% @mixtape.tracks.each do |track| %>
<p><%= track.youtube_url %></p>
<p>Start time: <%= track.start_time %>, End time: <%= track.end_time %></p>
<% end %>

<%= link_to "Edit tracks", edit_mixtape_path, class:"btn btn-info btn-txt" %>

<%= link_to "Back to giftapes", my_giftapes_path, class:"btn btn-info btn-txt" %>

<%= link_to 'delete this mixtape? :(',
            mixtape_path(@mixtape),
            method: :delete,
            data: { confirm: "Are you really really sure?!" },
            class:"btn btn-info", id:"delete-btn" %>

<br>

<div
  class="js-mixtape-youtube-player"
  data-playlist-videos='[{"url": "https://www.youtube.com/watch?v=3lWjhgJ-aVI", "start": 100, "end": 110}, {"url": "https://www.youtube.com/watch?v=s732BigTxZk", "start": 50, "end": 55 }, {"url": "https://www.youtube.com/watch?v=4Z0TeaTzo_U", "start": 80, "end": 100}]'
>
  <div class="js-video-controls">
    <button class="js-play-pause" type="button">Play</button>
  </div>

  <div id="player"></div>
</div>

<!-- <script src="src/index.js"></script>
 -->
