<div class="quiz" style="width: 100%; margin: 0 auto; height: 1000px;">
  <div class = "container mt-5 justify-content-center quiz">
  <%= simple_form_for [quiz, quiz_session] do |f| %>
    <div class="question-card-container">
      <%= f.simple_fields_for :answerings do |fa| %>
        <div class="question-card-form" style="transform: rotate(<%=rand(-1.2..1.2)%>deg)">
          <p><strong><%= fa.object.question.content %></strong></p>
          <div class="answers-with-radio">
          <%= fa.association :answer, label: "", collection: fa.object.question.answers, as: :radio_buttons %>
          <%= fa.input :question_id, value: fa.object.question.id, as: :hidden %>
        </div>
        </div>
        <% end %>
        </div>
        <div class="submit-score-btn-container">
      <%= f.button :submit, 'Check your Score!', class: 'butt-quiz' %>
      <% end %>
    </div>
  </div>
</div>
