<div class="quiz-container results">
  <h1> SCORE </h1>
  <% correct_answers = [] %>
  <% @quiz_session.answerings.each do |answering| %>
    <% user_answer = answering.answer.is_correct %>
    <% if user_answer == true %>
      <% correct_answers << user_answer %>
    <% end %>
  <% end %>
  <h1> <%= correct_answers.count %> / <%= @quiz_session.answerings.count %></h1>
  <% final_percentage = ((correct_answers.count /  @quiz_session.answerings.count.to_f) * 100).to_i %>
  <% if final_percentage == 100 %>
    <div class="pyro">
      <h2>HELL YEAH!</h2>
      <div class="before"></div>
        <div class="after"></div>
          <i class="far fa-laugh-beam" style="font-size: 75px;"></i>
    </div>
    <div class= "final-percentage"><h2><%= final_percentage %> % </h2>
    </div>
  <div class="box-canvas">
    <div class="handle left"></div>
    <div class="handle right"></div>
    <div class="stand">
      <div class="plaque">
        1
        <div class="screws top"></div>
        <div class="screws bottom"></div>
      </div>
    </div>
    <div class="trophy-bottom">
      <div class="cutout left"></div>
    </div>
    <div class="cup">
      <div class="lip"></div>
    </div>
  </div>
  <% elsif final_percentage < 90  && final_percentage > 80 %>
    <h2>DECENT!</h2>
    <div class="final-score">
    <h2><%= final_percentage %> % </h2>
    </div>
  <% elsif final_percentage < 80 && final_percentage > 60 %>
    <h2>NOT BAD!</h2>
    <div class="final-score">
    <h2><%= final_percentage %> % </h2>
    </div>
  <% elsif final_percentage < 60 && final_percentage > 40 %>
    <h2>BANG ON AVERAGE</h2>
    <div class="final-score">
    <h2><%= final_percentage %> % </h2>
    </div>
  <% elsif final_percentage < 40 && final_percentage > 10 %>
    <h2>Meh...</h2>
    <div class="final-score">
    <h2><%= final_percentage %> % </h2>
    </div>
  <% elsif final_percentage == 0 %>
  <i class="far fa-sad-cry" style="font-size: 75px;"></i>
    <h2>Oh my...</h2>
    <div class="final-score">
    <h2><%= final_percentage %> % </h2>
    </div>
  <% end %>
</div>
